html{
  background-image:url(./sources/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
h3{
  color: rgba(212,122,110,255);
}
.grid-container{  
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: grid;
  height:fit-content;
  width:40em;
  grid-template-columns: auto auto auto auto auto;
  border-radius: 1em;
}
.grid-item{
  border-radius: 1em;
  background-color: rgba(19,19,18,255);
  color: rgba(214,179,172,255);
  text-align: center;
  padding: 1.25em;
  margin: 3px; 
  transition: 0.3s;
}
.grid-desc{
  position: absolute;
  left: 36%;
  top: 40%;
  width: 22.05em;
  height: 6.07em;
  text-align: left;
  background-image:url(./sources/bottles221-1.jpg);
  border: 0.4em solid #131312;
  background-size: contain;
  background-position: center;
  background-repeat: round;
}
a{
  height: 100px;
  text-decoration: none;
}
.rt{
  height: 3.5em;
  display: flex;
  align-items: center;
}
.logo{
  filter: invert();
}
#pfp-ico{
  border-radius: 1em;
  margin-top: 1em;
  width: 128px;
  height: 128px;
}
#github:hover{
  background-color: rgba(84,38,115,255);
}
#steam:hover{
  background-color: rgba(18,108,158,255);
}
#discord:hover{
  background-color: rgba(64,78,237,255);
}
#telegram:hover{
  background-color: rgba(39,165,231,255);
}