html{
  background: no-repeat center/cover url(./sources/back.png);
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
h3{
  color: rgb(212,122,110);
}
.grid-container{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  width:40em;
  grid-template-columns: auto auto auto auto auto;
  border-radius: 1em;
}
.grid-item{
  border-radius: 1em;
  background-color: rgba(19,19,18,255);
  text-align: center;
  padding: 1.25em;
  margin: 0.19em; 
  transition: 0.4s;
}
.grid-desc{
  color: red;
  font-weight: bolder;
  align-content: center;
  text-transform: full-width;
  display: grid;
  position: absolute;
  left: 36%;
  top: 40%;
  width: 22.05em;
  height: 6.07em;
  border: 0.4em solid #131312;
  background: round center/contain url(./sources/bottles221-1.jpg);
}
.rt{
  height: 3.5em;
  display: flex;
  align-items: center;
  filter: invert();
  background: rgb(236, 236, 237);
}
#pfp-ico{
  border-radius: 1em;
  margin-top: 1em;
  width: 128px;
}
#github:hover{
  background: rgb(171, 217, 139);
}
#steam:hover{
  background: rgb(237, 147, 96);
}
#discord:hover{
  background: rgb(191, 177, 17);
}
#telegram:hover{
  background: rgb(216, 89, 23);
}