html{
  background-image:url(back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
h3{
  color: rgba(212,122,110,255);
}
#descripcion{
  margin-top: -1em;
  font-size: 0.9em;
}

.grid-container{  
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: grid;
  height:fit-content;
  width:40em;
  grid-template-columns: auto auto auto auto auto;
  border-radius: 10px;
}
.grid-item{
  border-radius: 10px;
  background-color: rgba(19,19,18,255);
  color: rgba(214,179,172,255);
  text-align: center;
  padding: 1.25em;
  margin: 3px; 
  transition: 0.3s;
}
.grid-desc{
  position: absolute;
  left: 36%;
  top: 40%;
  width: 22.75em;
  height: 6.795em;
  text-align: left;
}
.rt{
  height: 3.5em;
  display: flex;
  align-items: center;
}
.me{
  width:258.5%;
}
.logo{
  filter: invert();
}
#pfp-ico{
  border-radius: 50%;
  padding-top: 1em;
}
#github:hover{
  background-color: rgba(84,38,115,255);
}
#twitter:hover{
  background-color: rgba(28,155,241,255);
}
#discord:hover{
  background-color: rgba(64,78,237,255);
}
#telegram:hover{
  background-color: rgba(39,165,231,255);
}